:root {
    --bgcolor:  #343a40;
    --textcolor: white;
    --bgbotton: #29A744;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: var(--bgcolor);
    width: 100%;
}
.img-carousel{
    filter: brightness(0.5);
}
#lugar{
    background-color: var(--bgcolor);
}
#lugar .texto-honolulu {
    background-color: var(--bgcolor);
    color: var(--textcolor);
}
#lugar .btn-conoce-mas{
    text-decoration: none;
    border: 1px solid var(--textcolor);
    border-radius: 5px;
    color: var(--textcolor);
    padding: 10px 15px;
}
#tema-charla {
    width: 100%;
    height: 10em;
    margin-top: 1em;
    border-radius: 5px;
    border: 1px solid lightgray;
}
#recordatorio {
    font-size: 1em;
    font-size: 0.7em;
    color: #acacac;
}
#orador{
    width: 60%;
    margin: 2em auto;
}
.btn-color{
    text-decoration: none;
    background-color: #97c93e;
    border: #97c93e 1px solid;
    font-size: 1.1em;
    color: var(--textcolor);
    border-radius: 5px;
    height: 2.5em;
    padding: .5em 2em;
}
#miFooter {
    background: linear-gradient( to right, #203844,  #1f516e);
    padding: 1em;
}
/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 767px){
    main {
        .carousel-caption, .carousel-control-next-icon, .carousel-control-prev-icon {
            display: none !important;
        }
        #orador{
            width: 95%;
        }
    }
}