*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Barra de Navegación */
.navbar {
    background-color: #343a40;
    width: 100%;
}
/* Area principal */
.tickets {
    width: 60%;
    margin: 2em auto;
}
/* Informacion de Entradas */
.entradas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 2em;
}
.entrada-estudiante {
    border: 3px solid #a5c5e7 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
.entrada-trainee {
    border: 3px solid #abcfd5 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
.entrada-junior {
    border: 3px solid #e7d7a6 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
.card {
    position: relative;
    width: 270px;
    height: 350px;
    border: 0 !important;
    margin: auto 0;
}
.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}
.card .front h3{
    position: absolute;
    top: 6em;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: white;
    text-align: center;
}
/* Estudiante */
.card .back-estudiante {
    transform: perspective(600px) rotateY(180deg);
    background-color: #a5c5e7;
    padding: 15px;
    color: rgb(3, 35, 54);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 5px 10px black;
}
.card .back-estudiante h3{
    font-weight: bold;
}
.card .back-estudiante span{
    font-size: larger;
    font-weight: bold;
    margin-top:.3em;
}
.card .back-estudiante hr {
    background-color: rgb(3, 35, 54);
    width: 85%;
    margin: 25px auto;
}
.card .back-estudiante .entrada-recordatorio {
    font-size: small;
    color: rgb(83, 82, 82);
}
/* Trainee */
.card .back-trainee {
    transform: perspective(600px) rotateY(180deg);
    background-color: #a5e7af;
    padding: 15px;
    color: rgb(6, 54, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 5px 10px black;
}
.card .back-trainee h3{
    font-weight: bold;
}
.card .back-trainee span{
    font-size: larger;
    font-weight: bold;
    margin-top:.3em;
}
.card .back-trainee hr {
    background-color: rgb(6, 54, 3);
    width: 85%;
    margin: 25px auto;
}
.card .back-trainee .entrada-recordatorio {
    font-size: small;
    color: rgb(83, 82, 82);
}
/* Junior */
.card .back-junior {
    transform: perspective(600px) rotateY(180deg);
    background-color: #e3e7a5;
    padding: 15px;
    color: rgb(54, 52, 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 5px 10px black;
}
.card .back-junior h3{
    font-weight: bold;
}
.card .back-junior span{
    font-size: larger;
    font-weight: bold;
    margin-top:.3em;
}
.card .back-junior hr {
    background-color: rgb(54, 52, 3);
    width: 85%;
    margin: 25px auto;
}
.card .back-junior .entrada-recordatorio {
    font-size: small;
    color: rgb(83, 82, 82);
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back-estudiante{
    transform: perspective(600px) rotateY(360deg);
}
.card:hover .back-trainee{
    transform: perspective(600px) rotateY(360deg);
}
.card:hover .back-junior{
    transform: perspective(600px) rotateY(360deg);
}
/* Formulario de compra */
.titulo-form {
    text-align: center;
    margin: .5em;
    & h4 {
        font-size: small;
    }
}
.formulario {
    list-style: none;
    margin-top: .7em;
}
#totalPagar {
    display: inline-block;
    font-weight: bold;
}
.total-pagar {
    background-color: #cce5ff !important;
    color: #225c99 !important;
    height: 2em;
    width: 100%;
    border: none;
}
/* Botones del Formulario */
.btn-reset{
    text-decoration: none;
    background-color: #6c757d !important;
    font-size: 1.1em;
    color: white !important;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    padding: .5em 2em;
}
.btn-validar{
    text-decoration: none;
    background-color: #0b5ed7 !important;
    font-size: 1.1em;
    color: white !important;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    padding: .5em 2em;
}
.btn-ticket{
    text-decoration: none;
    background-color: #198754 !important;
    font-size: 1.1em;
    color: white !important;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    padding: .5em 2em;
}
/* Ticket */
.input-ticket {
    background-color: white !important;
    color: black;
    border: none !important;
    font-weight: bold;
    align-items: center !important;
    width: auto;
}
.input-correo {
    width: 70%;
}
.btn-descarga-model {
    display: block;
    text-decoration: none;
    background-color: #3db03d !important;
    font-size: 1.1em;
    color: white !important;
    border-radius: 5px;
    height: 2.5em;
    padding: .5em 2em;
}
/* Pie de Pagina */
#miFooter {
    background: linear-gradient( to right, #203844,  #1f516e);
    padding: 1em;
    margin-top: 2em;
}
/* MEDIA QUERIES */
@media screen and (max-width: 430px){
    .tickets {
        width: 85%;
        margin: 1.5em;
        margin-top: 2em;
    }
    .entrada-estudiante {
        border: 3px solid #a5c5e7;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    .entrada-trainee {
        border: 3px solid #abcfd5;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    .entrada-junior {
        border: 3px solid #e7d7a6;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    #miFooter {
        margin-top: .5em;
    }
}